# EDA
#### Análisis Exploratorio de los datos para un Sistema de Recomendación de Peliculas que usa un Modelo de Clasificación

### Indice:
1. Introducción
2. Objetivos
3. Estadística Descriptiva
4. Tratamiento de Outlier
5. Agrupación de datos
6. Control de valores NAN
7. Análisis de correlación Lineal y Polinómico
8. Nubes de Palabras
9. Conclusiones

### 1. Introducción
##### El presente notebook trata acerca del análisis estadístico de los datos que nos permitirá sacar inferencias e hipotesis para un modelo de clasificación 
##### Se trabajará con datos de Features de películas, en el cual se extraerán patrones y hallazgos para tener una mayor comprensión de los mismos.

### 2. Objetivos
##### 2.1 Determinar patrones y variables reelevantes en los datos
##### 2.2 Determinar los posibles modelos de clasificación 
##### 2.3 Sustentar las variables involucradas para el modelo de clasificación más factible

## 1.  Estadística Descriptiva

In [1]:
# Se importan las bibliotecas
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [5]:
# Se ingesta el dataset preprocesado
df = pd.read_csv('data_set/ds_clean.csv')

In [6]:
df.describe(include='all')

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,status,tagline,title,vote_average,vote_count,cast,crew,release_year,return,director
count,4497,4.545100e+04,43067,45451.000000,45440,44510,45451.000000,33634,39232,45451,...,45371,20425,45451,45451.000000,45451.000000,43097,44728,45451.000000,45451.00,44728
unique,1695,NaN,4064,NaN,89,44231,NaN,22666,2388,17333,...,6,20269,42195,NaN,NaN,42656,42908,NaN,NaN,20603
top,The Bowery Boys,NaN,Drama,NaN,en,No overview found.,NaN,Metro-Goldwyn-Mayer (MGM),United States of America,2008-01-01,...,Released,Which one is the first to return - memory or t...,Blackout,NaN,NaN,Georges Méliès,Georges Méliès,NaN,NaN,Avy Kaufman
freq,29,NaN,5006,NaN,32249,133,NaN,742,17868,136,...,45009,9,13,NaN,NaN,24,35,NaN,NaN,124
mean,NaN,4.231294e+06,NaN,107984.599745,NaN,NaN,2.926887,NaN,NaN,NaN,...,NaN,NaN,NaN,5.624085,109.989703,NaN,NaN,1991.882027,inf,NaN
std,NaN,1.742942e+07,NaN,112111.336735,NaN,NaN,6.006458,NaN,NaN,NaN,...,NaN,NaN,NaN,1.915424,491.352336,NaN,NaN,24.057726,NaN,NaN
min,NaN,0.000000e+00,NaN,2.000000,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,1874.000000,-9.06,NaN
25%,NaN,0.000000e+00,NaN,26367.500000,NaN,NaN,0.389095,NaN,NaN,NaN,...,NaN,NaN,NaN,5.000000,3.000000,NaN,NaN,1978.000000,0.00,NaN
50%,NaN,0.000000e+00,NaN,59871.000000,NaN,NaN,1.131386,NaN,NaN,NaN,...,NaN,NaN,NaN,6.000000,10.000000,NaN,NaN,2001.000000,0.00,NaN
75%,NaN,0.000000e+00,NaN,156327.500000,NaN,NaN,3.694370,NaN,NaN,NaN,...,NaN,NaN,NaN,6.800000,34.000000,NaN,NaN,2010.000000,0.00,NaN
max,NaN,3.800000e+08,NaN,469172.000000,NaN,NaN,547.488298,NaN,NaN,NaN,...,NaN,NaN,NaN,10.000000,14075.000000,NaN,NaN,2020.000000,inf,NaN