In [1]:
import pandas as pd
import numpy  as np

from fastapi import FastAPI

import uvicorn

from sklearn.metrics.pairwise        import cosine_similarity
from sklearn.utils.extmath           import randomized_svd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise        import linear_kernel


df = pd.read_csv("data_set/ds_model.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42195 entries, 0 to 42194
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   overview    42195 non-null  object
 1   popularity  42195 non-null  float64
 2   title       42195 non-null  object
dtypes: float64(1), object(2)
memory usage: 989.1+ KB

In [3]:
import nltk
from nltk.tokenize import word_tokenize

# Descargar los recursos necesarios de NLTK (ejecutar solo una vez)
nltk.download('punkt')

# Muestra de datos
overview_sample = "Led by Woody, Andy's toys live happily in his ..."

# Tokenización de la muestra
tokens = word_tokenize(overview_sample)

# Imprimir los tokens
print(tokens)

['Led', 'by', 'Woody', ',', 'Andy', "'s", 'toys', 'live', 'happily', 'in', 'his', '...']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\USUARIO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [4]:
# Descargar los recursos necesarios de NLTK (ejecutar solo una vez)
nltk.download('punkt')

# Tokenización de la columna "overview"
df['overview_tokens'] = df['overview'].apply(lambda x: word_tokenize(str(x)))

# Tokenización de la columna "title"
df['title_tokens'] = df['title'].apply(lambda x: word_tokenize(str(x)))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\USUARIO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Ahora para la columna 'title'

In [5]:
df

,overview,popularity,title,overview_tokens,title_tokens
0,"Led by Woody, Andy's toys live happily in his ...",21.946943,Toy Story,"[Led, by, Woody, ,, Andy, 's, toys, live, happ...","[Toy, Story]"
1,When siblings Judy and Peter discover an encha...,17.015539,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...",[Jumanji]
2,A family wedding reignites the ancient feud be...,11.712900,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Grumpier, Old, Men]"
3,"Cheated on, mistreated and stepped on, the wom...",3.859495,Waiting to Exhale,"[Cheated, on, ,, mistreated, and, stepped, on,...","[Waiting, to, Exhale]"
4,Just when George Banks has recovered from his ...,8.387519,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...","[Father, of, the, Bride, Part, II]"
...,...,...,...,...,...
42190,A film archivist revisits the story of Rustin ...,0.386450,The Burkittsville 7,"[A, film, archivist, revisits, the, story, of,...","[The, Burkittsville, 7]"
42191,It's the year 3000 AD. The world's most danger...,0.661558,Caged Heat 3000,"[It, 's, the, year, 3000, AD, ., The, world, '...","[Caged, Heat, 3000]"
42192,An artist struggles to finish his work while a...,0.178241,Century of Birthing,"[An, artist, struggles, to, finish, his, work,...","[Century, of, Birthing]"
42193,"In a small town live two brothers, one a minis...",0.003503,Satan Triumphant,"[In, a, small, town, live, two, brothers, ,, o...","[Satan, Triumphant]"
42194,50 years after decriminalisation of homosexual...,0.163015,Queerama,"[50, years, after, decriminalisation, of, homo...",[Queerama]

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

# Reemplazar los valores nulos en la columna 'overview' con un valor predeterminado
df['overview'].fillna('Sin descripción', inplace=True)

# Crear una instancia del vectorizador de Bolsa de Palabras con límite máximo de características
vectorizer = CountVectorizer(max_features=100)

# Realizar la tokenización y vectorización de la columna 'overview'
overview_vectors = vectorizer.fit_transform(df['overview_tokens'].apply(lambda x: ' '.join(x)))

# Crear el DataFrame con los vectores de Bolsa de Palabras
overview_df = pd.DataFrame(overview_vectors.toarray(), columns=vectorizer.get_feature_names_out())

# Concatenar el DataFrame de características con el DataFrame original
df_with_features = pd.concat([df, overview_df], axis=1)

In [7]:
overview_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42195 entries, 0 to 42194
Data columns (total 100 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   about     42195 non-null  int64
 1   after     42195 non-null  int64
 2   all       42195 non-null  int64
 3   an        42195 non-null  int64
 4   and       42195 non-null  int64
 5   are       42195 non-null  int64
 6   as        42195 non-null  int64
 7   at        42195 non-null  int64
 8   back      42195 non-null  int64
 9   be        42195 non-null  int64
 10  been      42195 non-null  int64
 11  between   42195 non-null  int64
 12  but       42195 non-null  int64
 13  by        42195 non-null  int64
 14  can       42195 non-null  int64
 15  daughter  42195 non-null  int64
 16  day       42195 non-null  int64
 17  during    42195 non-null  int64
 18  family    42195 non-null  int64
 19  father    42195 non-null  int64
 20  film      42195 non-null  int64
 21  find      42195 non-null  int64
 22  finds     42195 non-null  int64
 23  first     42195 non-null  int64
 24  for       42195 non-null  int64
 25  friend    42195 non-null  int64
 26  friends   42195 non-null  int64
 27  from      42195 non-null  int64
 28  get       42195 non-null  int64
 29  girl      42195 non-null  int64
 30  has       42195 non-null  int64
 31  have      42195 non-null  int64
 32  he        42195 non-null  int64
 33  help      42195 non-null  int64
 34  her       42195 non-null  int64
 35  him       42195 non-null  int64
 36  himself   42195 non-null  int64
 37  his       42195 non-null  int64
 38  home      42195 non-null  int64
 39  in        42195 non-null  int64
 40  into      42195 non-null  int64
 41  is        42195 non-null  int64
 42  it        42195 non-null  int64
 43  life      42195 non-null  int64
 44  lives     42195 non-null  int64
 45  love      42195 non-null  int64
 46  man       42195 non-null  int64
 47  more      42195 non-null  int64
 48  mother    42195 non-null  int64
 49  must      42195 non-null  int64
 50  new       42195 non-null  int64
 51  not       42195 non-null  int64
 52  of        42195 non-null  int64
 53  old       42195 non-null  int64
 54  on        42195 non-null  int64
 55  one       42195 non-null  int64
 56  only      42195 non-null  int64
 57  or        42195 non-null  int64
 58  other     42195 non-null  int64
 59  out       42195 non-null  int64
 60  over      42195 non-null  int64
 61  own       42195 non-null  int64
 62  people    42195 non-null  int64
 63  school    42195 non-null  int64
 64  she       42195 non-null  int64
 65  so        42195 non-null  int64
 66  son       42195 non-null  int64
 67  story     42195 non-null  int64
 68  takes     42195 non-null  int64
 69  that      42195 non-null  int64
 70  the       42195 non-null  int64
 71  their     42195 non-null  int64
 72  them      42195 non-null  int64
 73  there     42195 non-null  int64
 74  they      42195 non-null  int64
 75  this      42195 non-null  int64
 76  three     42195 non-null  int64
 77  through   42195 non-null  int64
 78  time      42195 non-null  int64
 79  to        42195 non-null  int64
 80  town      42195 non-null  int64
 81  two       42195 non-null  int64
 82  up        42195 non-null  int64
 83  war       42195 non-null  int64
 84  was       42195 non-null  int64
 85  way       42195 non-null  int64
 86  what      42195 non-null  int64
 87  when      42195 non-null  int64
 88  where     42195 non-null  int64
 89  which     42195 non-null  int64
 90  while     42195 non-null  int64
 91  who       42195 non-null  int64
 92  wife      42195 non-null  int64
 93  will      42195 non-null  int64
 94  with      42195 non-null  int64
 95  woman     42195 non-null  int64
 96  world     42195 non-null  int64
 97  year      42195 non-null  int64
 98  years     42195 non-null  int64
 99  young     42195 non-null  int64
dtypes: int64(100)
memory usage: 32.2 MB

In [8]:
df_with_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42195 entries, 0 to 42194
Columns: 105 entries, overview to young
dtypes: float64(1), int64(100), object(4)
memory usage: 33.8+ MB

In [12]:
from sklearn.metrics.pairwise import cosine_similarity

# Calcular la similitud del coseno entre las películas
similarity_matrix = cosine_similarity(overview_df)

h:\Henry_bootcamp\PI_1\venv\Lib\site-packages\sklearn\utils\extmath.py:193: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [14]:
similarity_matrix.shape

(42195, 42195)

In [15]:
similarity_matrix

array([[1.        , 0.4451741 , 0.48261709, ..., 0.48653363, 0.64936449,
        0.61487546],
       [0.4451741 , 1.        , 0.42355872, ..., 0.20333143, 0.56656831,
        0.51714781],
       [0.48261709, 0.42355872, 1.        , ..., 0.1028689 , 0.69973089,
        0.63702206],
       ...,
       [0.48653363, 0.20333143, 0.1028689 , ..., 1.        , 0.29139113,
        0.14744196],
       [0.64936449, 0.56656831, 0.69973089, ..., 0.29139113, 1.        ,
        0.82167269],
       [0.61487546, 0.51714781, 0.63702206, ..., 0.14744196, 0.82167269,
        1.        ]])

In [10]:
def obtener_recomendaciones(nombre_pelicula):
    # Obtener el índice de la película de referencia
    indice_pelicula = df[df['title'] == nombre_pelicula].index[0]
    
    # Obtener la fila correspondiente a la película de referencia en la matriz de similitud
    similitudes_pelicula = similarity_matrix[indice_pelicula]
    
    # Obtener los índices de las 5 películas más similares (excluyendo la película de referencia)
    indices_recomendadas = similitudes_pelicula.argsort()[-6:-1][::-1]
    
    # Crear una lista con los títulos de las películas recomendadas
    peliculas_recomendadas = []
    for indice in indices_recomendadas:
        titulo = df.loc[indice, 'title']
        peliculas_recomendadas.append(titulo)
    
    return peliculas_recomendadas

In [11]:
pelicula_referencia = "Toy Story"
recomendaciones = obtener_recomendaciones(pelicula_referencia)

print(recomendaciones)

['Ugetsu', 'Time Of My Life', "Thrashin'", 'Grave of the Fireflies', 'Rams']